<section class="crystal-project-graph-panel" data-project-graph-panel>
  <div class="crystal-project-graph-panel__actions">
    <button class="crystal-project-graph-panel__button" type="button" data-project-open-folder>Open Folder</button>
    <button class="crystal-project-graph-panel__button" type="button" data-project-open-html>Open HTML</button>
    <button class="crystal-project-graph-panel__button" type="button" data-project-refresh>Refresh Graph</button>
  </div>
  <p class="crystal-project-graph-panel__status" data-project-status>No project scanned.</p>
  <section class="crystal-project-graph-panel__section"><h3 class="crystal-project-graph-panel__heading">File counts</h3><dl class="crystal-project-graph-panel__counts" data-project-file-counts></dl></section>
  <section class="crystal-project-graph-panel__section"><h3 class="crystal-project-graph-panel__heading">Pages</h3><ul class="crystal-project-graph-panel__list" data-project-pages></ul></section>
  <section class="crystal-project-graph-panel__section"><h3 class="crystal-project-graph-panel__heading">Files</h3><ul class="crystal-project-graph-panel__list" data-project-files></ul></section>
  <section class="crystal-project-graph-panel__section"><h3 class="crystal-project-graph-panel__heading">Issues</h3><ul class="crystal-project-graph-panel__list" data-project-issues></ul></section>
</section>
